body {
    background: rgb(38, 116, 92);
    max-width: 960px;
    color: #232323;
    margin: 0 auto;
}
header, footer {
    background: #cfbebe;
}

header {
    font-size: 2rem;
    position: Top;
    left: 5;
    right: 0;
    padding: 0.5em 10em;
    box-shadow: 0 2px 4px -2px black;
    padding-right: 20px;
}
.name {
    float: left;
    font-size-adjust: ;
}
 
  .quote {
    font-family: 'Satisfy', cursive;
    font-weight: 25;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
}
h2 {
    font-size: 1.3em;
}
html {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
header::after {
    display: block;
    clear: both;
    content: '';
}

header {
    display: block;
}
footer {
    display: block;
}
footer {
    box-sizing: border-box;
    position: fixed;
    height: 64px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 -2px 4px -2px rgb(0, 5, 0);
}
footer a {
    margin-right: 100px;
    text-decoration: none;
}
main {
    padding: 30px;
}