body {
    background: rgb(172, 221, 206);
    max-width: 960px;
    color: #232323;
    margin: 0 auto;
}
header, footer {
    background: #e6dada;
}

header {
    font-size: 2rem;
    position: Top;
    left: 5;
    right: 0;
    padding: 0.5em 10em;
    box-shadow: 0 2px 4px -2px black;
    padding-right: 20px;
}
.name {
    float: left;
    font-size-adjust:none 
    }
 
  .quote {
    font-family: 'Satisfy', cursive;
    font-weight: 25;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
}
h2 {
    font-size: 1.3em;
}
html {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
header::after {
    display: block;
    clear: both;
    content: '';
}

header {
    display: block;
}
footer {
    display: block;
}

footer a {
    margin-right: 
    100px;
    text-decoration: none;
}
main {
    padding: 30px;
}

